---
import ArrowCard from "@components/ArrowCard.astro";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { HOME, SITE, SOCIALS } from "@consts";
import Layout from "@layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <span>
              <p>
                아키텍쳐와 함께 하는 개발자 김동학입니다. 많은 패러다임과
                서비스들을 접하면서 역량을 키우고 있습니다.
              </p>

              <p>
                처음으로 프로그래밍을 배우기 시작하면서 스프링으로 입문하여
                필요에 따라 QueryDSL, Spring Batch 등의 기술을 추가적으로
                익혔으며, 그 후 타입스크립트 공부를 시작, 토이 프로젝트에서
                Nest.js + Next.js 풀스택 개발을 하였습니다.
              </p>

              <p>
                광주소프트웨어마이스터고등학교에서 동아리 맛소금의 부장으로
                참여하여, 후배들과의 커뮤니케이션을 위해서 노력하고, 문서화를
                통해 진행중인 프로젝트를 쉽게 인수인계할 수 있도록 하였습니다.
                또한 <a href="https://link-circle.com">Link</a> 행사에 참여해서 다른
                마이스터고 동아리와의 커뮤니케이션을 진행했습니다.
              </p>

              <p>
                소프트웨어마이스터고 4개교 연합 해커톤에 참가해서 포토이즘을
                주제로, ChatGPT를 이용한 오디오 분석과 같은 기능들을 개발해서
                인기상을 수상하였습니다.
              </p>
            </span>
          </article>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Latest posts
            </h2>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Recent projects
            </h2>
            <Link href="/projects"> See all projects </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              projects.map((project) => (
                <li>
                  <ArrowCard entry={project} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate space-y-4">
          <h2 class="font-semibold text-black dark:text-white">
            Let's Connect
          </h2>
          <article>
            <p>질문이나 하고싶은 말이 있다면 아래로 연락해주세요.</p>
          </article>
          <ul class="not-prose flex flex-wrap gap-2">
            {
              SOCIALS.map((SOCIAL) => (
                <li class="flex gap-x-2 text-nowrap">
                  <Link
                    href={SOCIAL.HREF}
                    external
                    aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                  >
                    {SOCIAL.NAME}
                  </Link>
                  {"/"}
                </li>
              ))
            }
            <li class="line-clamp-1">
              <Link
                href={`mailto:${SITE.EMAIL}`}
                aria-label={`Email ${SITE.TITLE}`}
              >
                {SITE.EMAIL}
              </Link>
            </li>
          </ul>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
